<h1>
    <div><%= ['Hello', 'Hi', 'Hey', 'Yo'][rand(4)] %> World!</div>
    <div><%= ['Hello', 'Hi', 'Hey', 'Yo'][rand(4)] %> World!</div>
</h1>
<div>- from SINATRA on AWS Lambda</div>
<br>
<div>Also checkout the API example: <a href="hello-world">Hello World</a></div>
<div>And a web app example: <a href="feedback">Feedback</a></div>